body {
    background-color: #333;
    /* A Dark Grey*/
    color: #eee;
    /* A light grey for the text */
}

/* Style the main title */
#main-title {
    text-align: center;
    color: #61dafb;
    /* a nice light blue */
}

/* Style for our containers */
.form-container,
.library-container {
    background-color: #444;
    margin: 20px;
    /* Add some space around the containers */
    padding: 15px;
    /* Add some space inside the containers */
    border-radius: 8px;
    /* Give them rounded corners */
}

/* Style the input fields and button */
.form-container input,
.form-container button {
    display: block;
    /* Make each element take up its own line */
    width: 95%;
    /* Make them almost the full width of the container */
    padding: 8px;
    margin-bottom: 10px;
    /* Add some space between the elements */
    border: 1px solid #666;
    border-radius: 4px;
    background-color: #555;
    color: #eee;
}

/* Style the button specifically to make it stand out */
.form-container button {
    background-color: #61dafb;
    color: #222;
    font-weight: bold;
    cursor: pointer;
    /* Change the mouse to a pointer on hover */
}

/* Add a hove effect for button */
.form-container button:hover {
    background-color: #4caf50;
    /* A nice green color */
    color: white;
}